[submodule "configs/nvim"]
	path = configs/nvim
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule "configs/configs/nvim"]
	path = configs/configs/nvim
	url = https://github.com/treqo/kickstart.nvim.git
